/* Styles pour la responsivité */
@media screen and (max-width: 768px) {
  #experiences table {
    display: grid;
    grid-template-columns: 1fr;
  }

  #experiences td:nth-child(2) {
    text-align: left;
  }
}

@media screen and (min-width: 769px) {
  #experiences table {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
