/* Styles pour les transitions
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in.active {
  opacity: 1;
}

.slide-in-left {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}

.slide-in-left.active {
  transform: translateX(0);
}
 */
/* Styles pour les sections et les éléments */

.container {
  position: relative;
  width:100%;
  max-height: 500px;
  background: #e2b33b;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
}

#header img {
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  
}

#header .personal-info {
  justify-self: flex-start;
}

/* Nouveaux styles pour centrer les éléments de la deuxième colonne */
#experiences td.align-left {
  text-align: left;
}

#experiences td.align-center {
  text-align: center;
}

#experiences {
  background-color: #f9f9f9;
  padding: 20px;
  overflow-x: auto; /* Ajout de la propriété overflow-x pour la gestion des petits écrans */
  width:auto;
  margin: 0 auto; /* Centre horizontalement */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;}

/* Styles pour aligner les éléments de gauche et de droite */
#experiences table {
  border-collapse: collapse;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  /*max-width: 800px;*/
}


#experiences th {
  background-color: #f5f5f5;
}

#experiences tr:nth-child(even) {
  background-color: #e5e5e5;
}

#skills {
  padding: 20px;
}

#skills h2 {
  align-items: center;
  text-align: center;
}

#education {
  background-color: #f9f9f9;
  padding: 20px;
}

#education h2 {
  align-items: center;
  text-align: center;
}

.personal-info p {
  margin-top: 5px;
  margin-bottom: 0; 
}
