/* Styles pour les transitions
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in.active {
  opacity: 1;
}

.slide-in-left {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}

.slide-in-left.active {
  transform: translateX(0);
}
 */
/* Styles pour les sections et les éléments */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
}

#header img {
  border-radius: 20%;
}

#header .personal-info {
  justify-self: flex-start;
}

/* Nouveaux styles pour centrer les éléments de la deuxième colonne */
#experiences td.align-left {
  text-align: left;
}

#experiences {
  background-color: #f9f9f9;
  padding: 20px;
  overflow-x: auto; /* Ajout de la propriété overflow-x pour la gestion des petits écrans */
}

/* Styles pour aligner les éléments de gauche et de droite */
#experiences table {
  border-collapse: collapse;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  /*max-width: 800px;*/
}

#experiences td {
  text-align: left;
}

#experiences th {
  background-color: #f5f5f5;
}

#experiences tr:nth-child(even) {
  background-color: #e5e5e5;
}

#experiences td.align-center {
  text-align: center;
}

#skills {
  padding: 20px;
}

#education {
  background-color: #f9f9f9;
  padding: 20px;
}

@media screen and (min-width: 769px) {
  #experiences table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  #experiences td:nth-child(2) {
    text-align: left;
  }
}
